<!-- <div class="navbar" id="myNavbar">
  <a href="#home" class="active">Home</a>
  <a [routerLink]="['/footer-bar']">News</a>
  <a [routerLink]="['/side-bar']">Contact</a>
  <a [routerLink]="['/main-section']">About</a> 
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div> -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <div class="row" style="width: 100%">
        <div class="col-md-9"> 
  
          <!-- Links -->
          <ul class="navbar-nav">
            <li>
          <a class="navbar-brand" href="#">ViK <span class="logo-content">InfoSystem</span> </a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">INDUSTRIES</a>
            </li>
        
            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                SERVICES
              </a>
              <div class="dropdown-menu" style="background-color:#717171;color:#fff">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
              </div>
            </li>
          </ul></div>
        <div class="col-md-3">
            <form class="form-inline float-right" action="/action_page.php">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input type="text" class="form-control" placeholder="Search">
              </div>
            </form>
        </div>
      </div>
    

    
  </nav>